node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

.DS_Store

# Local deployments
deployments/hardhat
deployments/localhost

# Openzeppelin hardhat-upgrades plugin files for test networks
.openzeppelin/unknown-*.json

# Yarn error logs
yarn-error.log
